# === 站点配置 ===
# 目标站点，默认: <https://trixiebooru.org/>
FERRUMENA_BASE_URL=https://trixiebooru.org/

# 过滤器 ID，默认: 100073 (Default)
## 常见过滤器 ID:
## - 100073: Default, 默认
## - 56027: Everything, 完全不过滤
## 其他详见 <https://trixiebooru.org/filters>
FERRUMENA_FILTER_ID=100073

# 其它Cookie，包括登录凭证
FERRUMENA_COOKIE=

# === 身份识别 ===
# User-Agent
# 默认: Ferrumena/<version>
FERRUMENA_USER_AGENT=

# === 频率限制与并发 ===
# 每秒请求数 (RPS)
FERRUMENA_RPS=8

# 同时进行的任务数
FERRUMENA_CONCURRENCY=64

# === 存储配置 ===
# 图片下载后的存放目录，默认: ./ferrumena_downloads
FERRUMENA_SAVE_PATH=./ferrumena_downloads
